#!/bin/bash


###
###       When installing ARDaP please modify the ARDaP_LOCATION variable to the installation path
###       ARDaP should run from any location but has been most extensively tested from /home/user/bin

### path to ARDaP installation  ####

ARDaP_LOCATION=/home/dsarovich2/bin/ARDaP_v1.4_dev

### If your cluster uses a proxy to access the internet please specify it with the JAVA_PROXY variable and uncomment that line (ie. remove the #). Note that this is only so snpEff can download external databases
### No other section of ARDaP is altered with this variable

module load perl/5.26.0 


#Path to GenomeAnalysisTK.jar

GATK="$ARDaP_LOCATION/gatk-4.1.0.0/gatk --java-options \"-Xmx8G -XX:+UseSerialGC\"";
GATK_NO_GC="$ARDaP_LOCATION/gatk-4.1.0.0/gatk"
###################### you should not need to modify anything below this line unless you hit a dependency not found error  ##############


#Set java environmental variable to correct version or load the correct module here
module load java/1.8.0_131  #Hash out module load for github version
JAVA=$(which java)
PATH="$PATH:/home/dsarovich2/texlive/2017/bin/x86_64-linux/"

#Settings used for Java - you may want to modify this if your system has specific memory restrictions
SET_VAR="-jar -XX:+UseSerialGC -Xmx4G"

#Path to Mosdepth
MOSDEPTH="$ARDaP_LOCATION/bin/mosdepth";

#Trimmomatic path
TRIMMOMATIC="$ARDaP_LOCATION/Trimmomatic-0.38/trimmomatic-0.38.jar";
ADAPTERS="$ARDaP_LOCATION/Trimmomatic-0.38/adapters";

#Path to pindel
PINDEL="$ARDaP_LOCATION/bin/pindel"; 
PINDEL2VCF="$ARDaP_LOCATION/bin/pindel2vcf"; 

#Path to sqlite3
SQLITE="$ARDaP_LOCATION/bin/sqlite3";

#seqtk
SEQTK="$ARDaP_LOCATION/bin/seqtk";

#PAUP
PAUP="$ARDaP_LOCATION/bin/paup";

#Path to BWA
BWA="$ARDaP_LOCATION/bin/bwa";

#Path to Samtools
SAMTOOLS="$ARDaP_LOCATION/bin/samtools";

#Path to bedtools
BEDTOOLS="$ARDaP_LOCATION/bin/bedtools";

#Path for java and picard tools MarkDuplicates module
PICARD="$ARDaP_LOCATION/picard.jar";

#not needed due to newer version of Picard Tools
MARKDUPLICATES="$ARDaP_LOCATION/picard.jar MarkDuplicates"

ADDORREPLACEREADGROUPS="$ARDaP_LOCATION/picard.jar AddOrReplaceReadGroups";

BUILDBAMINDEX="$ARDaP_LOCATION/picard.jar BuildBamIndex";

CREATEDICT="$ARDaP_LOCATION/picard.jar CreateSequenceDictionary";

#Path to snpEff
SNPEFF="$ARDaP_LOCATION/snpEff/snpEff.jar";

#Path to snpEff config file
SNPEFF_CONFIG="$ARDaP_LOCATION/snpEff/snpEff.config";

#Path to SnpEff data directory
SNPEFF_DATA="$ARDaP_LOCATION/snpEff/data";

#Path to VCFtools
VCFTOOLS="$ARDaP_LOCATION/vcftools";

#Path to vcf-merge
VCFMERGE="$ARDaP_LOCATION/vcf-merge";

#path to bgzip
BGZIP="$ARDaP_LOCATION/bgzip";

#path to tabix
TABIX="$ARDaP_LOCATION/tabix";

##Settings for VCFTools, location of perl5 libraries

export PERL5LIB=$PERL5LIB:$ARDaP_LOCATION/perl

#Added location of Tabix to the PATH variable
PATH=$PATH:$ARDaP_LOCATION/
