params {

    fastq               =   "test/*_{1,2}.fastq.gz"
    reference           =   "test/K96243.fasta"
    gwas                =   true
    matrix              =   true
    annotate            =   true
    mixtures            =   true
    phylogeny           =   false
    antibiotic_res      =   true
    strain              =   "all"
    tech                =   "Illumina"
    pairing             =   "PE"
    window              =   10000
    indel_merge         =   true
    tri_tetra_allelic   =   false
    size                =   6000000
    snpeff              =   "Burkholderia_pseudomallei_k96243"
    phred               =   "-phred33"
    org                 =   "haploid"
}

includeConfig 'configs/gatk.config'

process {

    errorStrategy = "ignore"

    conda = "/home/esteinig/miniconda3/envs/ardap"

    withLabel: card {
        cpus = 1
        memory = "4G"
        time = "2h"
    }

    withLabel: index {
        cpus = 1
        memory = "4G"
        time = "2h"
    }

    withLabel: spandx_default {
        cpus = 2
        memory = "4G"
        time = "2h"
    }

    withLabel: spandx_alignment {
        cpus = 8
        memory = "8G"
        time = "2h"
    }

    withLabel: spandx_gatk {
        cpus = 8
        memory = "8G"
        time = "2h"
    }

    withLabel: spandx_snpeff {
        cpus = 4
        memory = "4G"
        time = "2h"
    }

    withLabel: spandx_pindel {
        cpus = 8
        memory = "8G"
        time = "2h"
    }

}
