## This file sets the scheduler variables that are used in the batch queueing system
## The default scheduler is PBS; however ARDaP will also work with SGE and SLURM
## ARDaP can also run with no system scheduler; however, due to the high computation load, this is not recommended

SCHEDULER=PBS #current options must be one of either PBS or SGE or SLURM or NONE. 

####################################################
##                                                ##
##                                                ##
##                  PBS Settings                  ##
##                                                ##
##                                                ##
####################################################

#Handling of standard error 
#{oe,eo,n}. oe merges standard error to standard output, eo merges standard output to standard error, n indicates neither and two separate files will result
ERROR_OUTPUT=oe
#########################

#Account string if required for your system. Please leave blank if your system doesn't require an account string
PBS_ACCOUNT="" #For example PBS_ACCOUNT="-A ACCOUNT_STRING" 
#########################

#Memory request
PBS_MEM=4096mb
#########################

#Walltime
WALL_T=96:00:00
#########################

#Nodes, ncpus, ppns
NODES=1
PPN=2 #Set at 2 cpus as the java virtual machine frequently takes a single core and the job requires a second core. Increasing this value won't necessarily decrease ARDaP runtime
#########################

####################################################
##                                                ##
##                                                ##
##                SLURM Settings                  ##
##                                                ##
##                                                ##
####################################################

# If you would like to alter the amount of memory assigned to SLURM jobs please modify the following variable
# Specified in the sbatch scripts as --mem=$SLURM_MEM
SLURM_MEM=4096
#######################

# walltime
# by default jobs are submitted to qsub with 24 hours wall time
#SLURM
TIME=0-24:0:00
########################

####################################################
##                                                ##
##                                                ##
##                 SGE Settings                   ##
##                                                ##
##                                                ##
####################################################

#Walltime
H_RT=42000

#TO DO
# Add SGE memory management. 
# Adding '-l h_vmem=8G' after the walltime request will fix memory issues in SGE until implemented

#SGE options are no or yes
ERROR_OUT_SGE=yes

####################################################
##                                                ##
##                                                ##
##                Shared Settings                 ##
##                                                ##
##                                                ##
####################################################

# mail
# Options for the way job e-mail is handled is flagged with -m within the qsub line
# {a,b,e,n}. a - when job is aborted by PBS, b - when job begins, e - when job terminates
# By default no mail will be sent with ARDaP. Default settings are recommended as ARDaP can spawn a large number of jobs if there are several sequences to be analysed. If mail is desired please change the variables below
# Eg to enable aborted and terminated job e-mail "MAIL=ae" and set ADDRESS=your.email@address.com
#PBS and SGE
MAIL=n
#SLURM
MAIL_SLURM=FAIL
#BOTH
ADDRESS=user@university.edu
