Species	SnpEff_database_name	Reference_genome
Burkholderia_pseudomallei	Burkholderia_pseudomallei_k96243	k96243.fasta
Pseudomonas_aeruginosa	Pseudomonas_aeruginosa_pao1	Pa_PAO1.fasta
Haemophilus_influenzae	Haemophilus_influenzae_rd_kw20	RdKW20.fasta
Stenotrophomonas_maltophilia	Stenotrophomonas_maltophilia_k279a	Sm_k279a.fasta
